body {
    font-family: pacifico,'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #8d99ae;
}

h1 {
    font-weight: bold;
    text-align: center;
    color: #023047;
    font-size: 40px;
}


.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

}


.container {
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    height: 500px;
    border: 10px solid #023047;
    flex-wrap: wrap;
    
}


.button-container {
    
    background-color: #023047;
    height: 515px;
    width: 350px;
    color: white;
}


label {
    display: block;
    padding: 20px;
    margin-left: 10px;
}
button {
    font-family: pacifico,'Times New Roman', Times, serif;
    background-color: #023047;
    border: 2px solid white;
    padding: 8px;
    font-size: 18px;
    margin: 10px;
    color: white;
    border-radius:  5px;
    cursor: pointer;
    width: 130px;
    height: 50px;
    transition: 100ms;
    font-weight: 200;

    
}

.left-button {
    margin-left: 30px;
}

button:hover {
    background-color: white;
    color: #023047;
    font-weight: 200;
}

button:focus {
    background-color: white;
    color: #023047;
    font-weight: bold;
}


#rand-colour { 
    margin-top: 55px;

}

.bottom-buttons {
    cursor:cell;
    width: 280px;
    height: 70px;
    margin-left: 30px;
    margin-top: 20px;

    

}

